/* _content/RonSijm.Demo.Fluxor.WonderWharf.Publications/Components/PublicationTracking.razor.rz.scp.css */
.publication-tracking[b-lr5k55x2jd] {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #227169;
    overflow-wrap: anywhere;
}
