/* _content/RonSijm.Demo.Blazyload.Components.Burger/Components/BurgerPage.razor.rz.scp.css */
.simple-code[b-hfdx0vsqkf] {
    padding: .75rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
    background: #f6f8fa;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}
